<!-- TODO CREATE FORM -->
<form method="POST" class="row my-2">
  <repeat group="{{ ['sort', 'hide_completed', 'hide_no_deadline'] }}" value="{{ @key }}">
    <input type="hidden" name="additional_param_keys[]" value="{{ @key }}">
    <input type="hidden" name="{{ @key }}" value="{{ $_GET[@key] }}">
  </repeat>
  
  <set todoError="{{ @FLASH->getKey('errors')['todo'] }}"/>

  <div class="col-9"><input type="text" name="todo" class="form-control {{ @todoError ? 'is-invalid' : '' }}" required placeholder="New todo"></div>
  <div class="col-2"><input type="text" name="deadline" class="form-control date-picker" placeholder="Deadline"></div>
  <div class="col-1"><input type="submit" class="btn btn-primary" value="Add"></div>
</form>
<check if="{{ @todoError }}"><p class="text-danger mb-0">{{ @todoError }}</p></check>

<check if="{{ $_GET['page'] <= @todos['count'] }}">
  <!-- LISTING OPTIONS FORM -->
  <form class="row mb-2">
    <div class="col-5"></div>

    <!-- HIDE NO DEADLINE -->
    <div class="col-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="hide_no_deadline"
          {{ $_GET['hide_no_deadline'] ? 'checked' : '' }} onchange="this.form.submit()">
        <label class="form-check-label">
          Hide No Deadline
        </label>
      </div>
    </div>

    <!-- HIDE COMPLETED -->
    <div class="col-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="hide_completed"
          {{ $_GET['hide_completed'] ? 'checked' : '' }} onchange="this.form.submit()">
        <label class="form-check-label">
          Hide Completed
        </label>
      </div>
    </div>

    <!-- SORT -->
    <div class="col-3">
      <input type="hidden" id="sort" name="sort" value="{{ $_GET['sort'] }}">

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="sort_drop_down" data-bs-toggle="dropdown"
          aria-expanded="false">
          <check if="{{ $_GET['sort'] }}">
            <true>
              Sorted by ({{ str_replace('_', ' ', ucwords(preg_replace('/_desc$/', '', $_GET['sort']), '_')) }} <i
                class="fas fa-long-arrow-alt-{{ str_ends_with($_GET['sort'], '_desc') ? 'down' : 'up' }}"></i>)
            </true>
            <false>
              Sorted by (Add Date <i class="fas fa-long-arrow-alt-down"></i>)
            </false>
          </check>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sort_drop_down">
          <li><button type="button" class="dropdown-item {{ $_GET['sort'] === 'name' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'name')">Name <i
                class="fas fa-long-arrow-alt-up"></i></button></li>
          <li><button type="button" class="dropdown-item {{ $_GET['sort'] === 'name_desc' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'name_desc')">Name <i
                class="fas fa-long-arrow-alt-down"></i></button></li>
          <li><button type="button" class="dropdown-item {{ $_GET['sort'] === 'deadline' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'deadline')">Deadline <i
                class="fas fa-long-arrow-alt-up"></i></button></li>
          <li><button type="button" class="dropdown-item {{ $_GET['sort'] === 'deadline_desc' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'deadline_desc')">Deadline <i
                class="fas fa-long-arrow-alt-down"></i></button></li>
          <li><button type="button" class="dropdown-item {{ $_GET['sort'] === 'add_date' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'add_date')">Add Date <i
                class="fas fa-long-arrow-alt-up"></i></button></li>
          <li><button type="button"
              class="dropdown-item {{ !$_GET['sort'] || $_GET['sort'] === 'add_date_desc' ? 'active' : '' }}"
              onclick="setInputValueAndSubmitForm('#sort', 'add_date_desc')">Add Date <i
                class="fas fa-long-arrow-alt-down"></i></button></li>
        </ul>
      </div>
    </div>
  </form>

  <!-- TODO LIST -->
  <ul class="list-group">
    <repeat group="{{ @todos['subset'] }}" value="{{ @todo }}">
      <li
        class="todo-item list-group-item d-flex align-items-center {{ @todo['deadline'] && @todo['deadline'] >= !@todo['completed_at'] && now() >= @todo['deadline'] ? 'bg-danger text-white' : '' }}">
        <span class="me-2">
          <input onchange="onCompletedCheckboxChange({{ @todo['id'] }}, this)" type="checkbox" name="{{ @todo['id'] }}"
            class="todo" {{
          @todo['completed_at'] ? 'checked' : '' }}>
        </span>
        <span class="d-flex justify-content-between align-items-center w-100 position-relative">
          <span class="text-break">
            {{ @todo['todo'] }}
          </span>
          <span data-bs-toggle="tooltip" data-bs-placement="top" title="Click to modify" class="ms-4 text-center me-1 deadline" style="white-space: nowrap" onclick="addDatepicker({{ @todo['id'] }}, '{{ @todo['deadline'] }}', this)" id="todo_{{ @todo['id'] }}_deadline">
            {{ @todo['deadline'] }}
          </span>
          <span class="position-absolute options-btn invisible" style="top: -14px; right: -25px;">
            <div class="dropdown">
              <button class="btn" type="button todo_options_dropdown" id="todo_{{ @todo['id'] }}_options_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="todo_{{ @todo['id'] }}_options_dropdown">
                <check if="{{ !@todo['deadline'] }}">
                  <li><button class="dropdown-item" type="button" onclick="addDeadlineToTodo({{ @todo['id'] }})">Add deadline</button></li>
                </check>
              </ul>
            </div>
          </span>
        </span>
      </li>
    </repeat>
  </ul>
</check>

<!-- PAGINATION -->
<div class="d-flex justify-content-center mt-5">
  <include href="components/pagination.htm"
    with="pages={{ @todos['count'] }},page={{ $_GET['page'] ?: 1 }},additionalParamKeys=sort&hide_completed&hide_no_deadline" />
</div>